VITE_BASE_URL=http://localhost:8000/api/
# EH?: Change API endpoint to your own
VITE_MEDIA_URL=http://localhost:8000/resources/

VITE_RTC_APP_ID="agora-app-id"
VITE_RTC_CHANNEL_NAME="main"
VITE_RTC_TOKEN="agora-token"