@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .top-navigation {
    @apply m-0 flex h-16 w-full 
    flex-row items-center justify-evenly 
    bg-gray-300 bg-opacity-90 
    shadow-lg 
    dark:bg-gray-700;
  }

  .top-navigation-icon {
    @apply cursor-pointer    
    text-gray-500 transition duration-300 
    ease-in-out 
    hover:text-[#7510F7];
  }

  .title-hashtag {
    @apply my-auto ml-2 hidden text-lg 
    font-semibold tracking-wider text-gray-500 md:block;
  }

  .title-text {
    @apply my-auto mr-auto ml-2 hidden text-xl 
    font-semibold tracking-wider text-gray-500 
    text-opacity-80 transition duration-300 ease-in-out md:block;
  }

  .timestamp {
    @apply ml-2 text-left text-xs font-semibold text-gray-500 dark:text-gray-600;
  }

  .side-nav-link {
    @apply inline-flex w-full items-center text-sm font-semibold text-gray-800 transition-colors
  duration-150 hover:text-gray-800 dark:text-gray-100 dark:hover:text-gray-200;
  }

  .bg-primary-gradient {
    @apply bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-slate-700 to-gray-900;
  }

  .title-primary-gradient {
    @apply bg-gradient-to-bl from-blue-300 to-purple-700 bg-clip-text text-transparent;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
